<div class="heading">
    <h2>Edit College</h2>
    <div class="options">
        <%= link_to "Cancel", :back %>
    </div>
</div>
<div class="form">
    <%= form_for(@college) do |f| %>
        <h3>Name</h3>
        <div>
            <%= f.text_field :name %>
            <%= f.submit "Update" %>
        </div>
    <% end %>
</div>